h1,
h2,
h3 {
    color: black;
}

p {
    color: black;
}
main {
    color: burlywood;
}
 li {
    color: black;

} 

div h2 {
    color:black
}
.nav{
    Background-color: pink;
}
footer{ 
    Background-color: pink;
}
@keyframes Logoanimado {
    30%{transform:translateX(100deg);}
    80%{transform:translateY(-20px);}
}

footer{
    animation-name: Logoanimado;
    animation-iteration-count:infinite;
    animation-timing-function:calc(10s);
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes aparecer {
    0%{opacity:0;}
    100%{opacity: 1;}
}
